body {
   background-color: #f4f4f9;
   margin: 0;
   padding: 10px;
   display: grid;
   place-items: center;
   gap: 10px;
}

.container {
   width: 400px;
   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 0 10 20px rgba(0, 0, 0, 0.1);
   padding: 20px;
}

.subtitle{
   font-size: 1.1em;
   font-weight: 540;
   text-align: center;
   padding-bottom: 10px;
}

.select-shape-section, .scores-section{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 5px;
}

.choice-btn {
   background-color: #45b3e0;
   color: white;
   border: 1px solid rgba(0,0,0,0.1);
   padding: 10px 25px;
   border-radius: 4px;
   cursor: pointer;
}

.hidden-section {
   display: none;
}

.display-choice {
   display: grid;
   grid-template-columns: 1fr 1fr;
   place-items: center;
   text-align: center;
}

.display-choice .heading {
   font-size:.6em;
   color: #7b7b7b;
}

.score .heading {
   font-size: .6em;
}

#result, #your-choice, #computer-choice {
   text-align: center;
   font-size: 1.5em;
   font-weight: bold;
   color: Red;
}

.scores-section .score{
   background-color: #6fbf72;
   color: white;
   padding: 10px;
   text-align: center;
   border-radius: 4px;
}

.your-score, .tie-score, .computer-score {
   font-size: 2em;
}